body{
    background-color: rgba(0, 0, 0, 0.767);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 75%;
    padding: 0;
    margin: 0;
}

h1 {
    color: #FB3640;
    font-size: 3.0em;
    padding: 0;
}

h2 {
    font-size: 1.7em;
    padding: 15px 0px 0px 0px;
}

.wrapper{
    width: 100%;
}

.header{
    text-align: right;
}

.menu{
    text-align: right;
}

menu a:hover{
    color: #1B4079;
    text-decoration: underline;
}

.header li{
    display: inline-block;
    padding: 10px;
    text-align: right;
    font-size: 1.7em;
}

nav li{
    display: inline-block;
    padding: 10px;
    text-align: right;
    font-size: 1.7em;
}

nav li a, nav li a:visited {
    text-decoration: none;
    color: #FB3640;
    padding: 0.3em 0.6em;
}

#main{
    width: 100%;
}

.content{
    width: 100%;
}

.row{
    width: 100%;
    margin: 0px;
}

ul{
    padding: 0px;
}

li{
    text-decoration: none;
    margin-bottom: 0px;
    padding: 20px;
    list-style: none;
}

.col{
    text-align: center;
    height: 500px;
    border: 5px solid white;
    margin: 5px;
    padding: 0px;
}

.gear{
    height: 300px;
}

#pads{
    height: 300px;
    width: 450px;
}

#main{
    display: inline-block;
    align-content: center;
    text-align: center;
}

.sidebar{
    width: 100%;
    margin: 10px 0px 10px 0px;
    align-content: center;
}

.subscribe{
    width: 90%;
    align-content: center;
    text-align: center;
    border: 5px solid white;
    padding-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

/*Footer*/
footer {
    background-color: #454955;
    height: 70px;
    font-size: 1.2em;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 1.5em 2.0em;
    padding-right: 0px;
    padding-left: 0px;
}

footer ul#menuFooter {
    display: inline-block;
    list-style: none;
    margin: 0 0 0 0.6em;
    padding: 0;
}

footer ul li {
    display: inline-block;
    padding: 0 0.7em 0 0;
    margin: 0;
}

footer ul li::before {
    content: "| ";
    padding-right: 0.7em;
}

footer a, footer a:visited {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #fff;
    text-decoration: underline;
}

